{% extends 'base.html' %}
{% block content %}
  <section id="userpage">
    <div class="container text-center">
      <h3>Hello {{user}}</h3>
      <p>Nice to see you again :)</p>
      <a class="d-block btn btn-primary" href="{% url 'account_change_password' %}">Change password</a>
      <a class="d-block btn btn-primary" href="{% url 'account_logout' %}">Log out</a>
      <a class="d-block btn btn-success" href="{% url 'library' %}"><i class="fas fa-arrow-left"></i> Back to library</a>
    </div>    
  </section>
  

{% endblock %}