body {
    z-index: 0;
}

section {
    margin-bottom: 10vh;
}

/* ----- Landing page ----- */
#landing {
    height: 100vh;
    margin: 0;
    background-image: url('../img/rivulet-landing.jpg');
    background-size: cover;
    background-repeat: none;
}

/* ----- The navbar and footer ----- */
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#faq {
    float: right;
    margin: 1vh 1vw;
    color: white;
    transition: 100ms;
}

#faq:hover {
    color: royalblue;
}

/* ----- Styling for auth forms ----- */
.form-container {
    padding: 2vh 22vw;
}

.form-container input {
    width: 80%;
    margin: 0;
}

.form-container label {
    min-width: 19%;
    margin: 0
}

#id_remember {
    width: auto;
    margin-right: 70%;
}

.form-container p input {
    border-radius: 2px;
    border: none;
    padding: 0.5vh 1vh;
    background: rgba(0,0,0,0.1);
}

.form-container .btn {
    width: 49%;
}

/* style for the 'sign up' form */

#id_password2 {
    width: 72.5%;
}

.form-container .btn-sign-up {
    width: 100%;
}

/* ----- The library ----- */
.thumbnail-container {
    position: relative;
    padding: 0 1vw;
    overflow: hidden;
    transition: 200ms;
}

.thumbnail-container:hover {
    background-color: black;
    transform: scale(2, 2);
    z-index: 99;
}

.thumbnail {
    height: 15vh;
    overflow: hidden;
    margin-top: 2vh;
}

.thumbnail-overflow {
    overflow: hidden;
}


.video-title {
    font-size: 1em;
}

.thumbnail-container .video-description {
    padding: 2vh;
    font-size: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    position: absolute;
    z-index: 1000;
    top: 2vh;
    left: 1vw;

    height: 15vh;
    width: 100%;

    opacity: 0;
    transition: 200ms;
}

.thumbnail-container .video-description:hover {
    opacity: 1;
}

.category-row {
    margin: 5vh 0;
    background-color: rgba(175, 175, 175, 0.1);
}