@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ----- general styling and colours ----- */
body {
    z-index: 0;
    background: rgba(200, 208, 224, 0.3);
}

section {
    margin-bottom: 10vh;
}

/* general font styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #101828;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}



/* ----- general button colours ----- */
.btn-primary {
    background-color: #B0C0D8;
    border-color: #B0C0D8;
    border-radius: 2px;
    min-width: 8vw;
}

/* hover styles and overwriting bootstrap button styles for primary button */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #7088A8;
    border-color: #7088A8;
    box-shadow: none;
}

.btn-outline-primary {
    background-color: none;
    border-color: #c8d0e0;
    border-radius: 2px;
    min-width: 8vw;
    color: #7088A8;
} 

/* hover styles and overwriting bootstrap button styles for outline-primary button */
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #B0C0D8;
    border-color: #c8d0e0;
    box-shadow: none;
}

.btn-success {
    background-color: #486890;
    border-color: #486890;
    border-radius: 2px;
    min-width: 8vw;
} 

.btn-success i {
    color: white;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active {
    background-color: #283850;
    border-color: #203048;
    box-shadow: none;
}

/* ----- Landing page ----- */
#landing {
    height: 100vh;
    margin: 0;
    background-image: url('../img/rivulet-landing.jpg');
    background-size: cover;
    background-repeat: none;
    background-position-y: 1050px; 
    background-position-x: -90px;
}

#landing h1 {
    font-family: 'Bebas Neue', cursive;
    padding-top: 26vh;
    margin-bottom: 5vh;
    font-size: 5em;
    letter-spacing: 0.1em;
    color: #eaf0ffd3;
    filter: drop-shadow(0 0.5rem 2rem #fff);
}

#landing p {
    color: rgb(255, 204, 0);;
    font-size: 1.5rem;
    filter: drop-shadow(0 0.1rem 0 #000);
    margin-bottom: 4vw;
}

#landing-buttons .btn-primary {
    color: white;
    background: none!important;
    border: 1px solid white;
    border-radius: 2px;
    min-width: 8vw;
    opacity: 0.6;
    transition: 100ms;
}

#landing-buttons i {
    color: white;
}

#landing-buttons .btn-primary:hover,
#landing-buttons .btn-primary:active,
#landing-buttons .btn-primary:focus,
#landing-buttons .btn-primary:not(:disabled):not(.disabled):active {
    opacity: 1;
    box-shadow: none;
}

/* ----- The navbar and footer ----- */
/* navbar */
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    padding-left: 1rem;
}

/* footer */
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#faq {
    float: right;
    margin: 1vh 1vw;
    color: white;
    transition: 100ms;
}

#faq:hover {
    color: royalblue;
}

/* ----- Styling for auth forms ----- */
.form-container {
    padding: 2vh 22vw;
}

.form-container input {
    width: 80%;
    margin: 0;
}

.form-container label {
    min-width: 19%;
    margin: 0
}

#id_remember {
    width: auto;
    margin-right: 70%;
}

.form-container p input {
    border-radius: 2px;
    border: none;
    padding: 0.5vh 1vh;
    background: rgba(0,0,0,0.1);
}

.form-container .btn {
    width: 49%;
}

/* style for the 'sign up' form */

#id_password2 {
    width: 72.5%;
}

.form-container .btn-sign-up {
    width: 100%;
}

/* styling for password reset */
#password-reset .btn {
    width: 100%;
    margin-bottom: 3vh;
}

#password-reset label {
    padding-left: 0;
    margin-left: 0;
    padding-right: 8%;

}

/* ----- The library ----- */
/* category titles */
#most-viewed {
    margin-top: 4vh;
}

.popular-category-title {
    color: rgb(255, 204, 0);;
    filter: drop-shadow(0 0.1rem 0 #000);
}

.popular-category-title::before {
    content: '[ ';
}

.popular-category-title::after {
    content: ' ]';
}

/* Thumbnails and general library */
.thumbnail-container {
    position: relative;
    padding: 0 1vw;
    overflow: hidden;
    transition: 200ms;
}

.thumbnail-container:hover {
    background-color: rgb(200, 208, 224);
    transform: scale(1.5, 1.5);
    z-index: 99;
}

.thumbnail {
    height: 15vh;
    overflow: hidden;
    margin-top: 2vh;
}

.thumbnail-overflow {
    overflow: hidden;
}


.video-title {
    font-size: 1em;
}

.thumbnail-container .video-description {
    padding: 3vh;
    font-size: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    transition: 200ms;
}

.thumbnail-container .video-description:hover {
    opacity: 1;
}


.category-row {
    margin: 2vh 0 5vh 0;
    background-color: rgba(175, 175, 175, 0.1);
}

/* ----- Userpage ----- */
#userpage h3 {
    padding-top: 1vh;
    margin: 4vh;
}

#userpage p {
    color: #203048;
    margin-bottom: 5vh;
}

#userpage .btn {
    width: 20%;
    margin: 1vh auto;
}